<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

    <form method="GET" action="/newteam">
     <br>Team Name: <input type="text" name="team name"><br>
     <br>Coach: <input type="text" name="coach"><br>
     <br>Point Guard: <input type="text" name="point guard"><br>
     <br>Shooting Guard: <input type="shooting guard" name="string"><br>
     <br>Small Forward: <input type="text" name="small forward"><br>
     <br>Power Forward: <input type="text" name="power forward"><br>
     
     <br>Center: <input type="text" name="string"><br>
      <br><input type="submit" id="Submit">
    </form>
 </body>
</html>


