<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>

    <form method="GET" action="/newteam" id="Submit">
     <br>Team Name: <input type="text" name="string"><br>
     <br>Coach: <input type="text" name="string"><br>
     <br>Point Guard: <input type="text" name="string"><br>
     <br>Shooting Guard: <input type="text" name="string"><br>
     <br>Small Forward: <input type="text" name="string"><br>
     <br>Power Forward: <input type="text" name="string"><br>
     
     <br>Center: <input type="text" name="string"><br>
      <br><input type="submit">
    </form>
 </body>
</html>


